EscapeChar ~
#IgnoreUnknown ServerAliveInterval,ServerAliveCountMax
Include ~/.ssh/config.d/*.conf

Host *.local
  AddKeysToAgent yes
  ForwardAgent yes
  # RemoteForward /run/user/1000/gnupg/S.gpg-agent ~/.gnupg/S.gpg-agent.extra
  StreamLocalBindUnlink yes

Host *
  # Reuse connections in backlog
  # https://github.com/PowerShell/Win32-OpenSSH/wiki/Project-Scope
  ControlMaster no
  IdentitiesOnly yes
  ExitOnForwardFailure yes
